body {
	background-color: #F2BD99;
}

/* Style the navigation menu */
.topnav {
    overflow: hidden;
    background-color: #F2BD99;
    position: relative;
  }

 #myLinks {
     background-color: white;
 }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: #F2BD99;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    display: block;
  }
  
  .hamburger {
      max-width: 50px;
  }

